name: Build and Publish Docker Image

on:
  push:
    branches:
      - uatest
    tags:
      - 'v*'
  pull_request:
    branches:
      - uatest

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

permissions:
  contents: read
  packages: write

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        include:
          - arch: amd64
            runs_on: ubuntu-latest
            platform: linux/amd64
            suffix: amd64
          - arch: arm64
            runs_on: ubuntu-24.04-arm
            platform: linux/arm64
            suffix: arm64

    runs-on: ${{ matrix.runs_on }}

    steps:
      - uses: actions/checkout@v4

      - uses: docker/setup-buildx-action@v3

      - uses: docker/login-action@v3
        if: github.event_name != 'pull_request'
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          tags: |
            type=raw,value=latest-${{ matrix.suffix }}
            type=semver,pattern={{version}},suffix=-${{ matrix.suffix }}
            type=semver,pattern={{major}}.{{minor}},suffix=-${{ matrix.suffix }}

      - name: Build & push
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile.prod
          platforms: ${{ matrix.platform }}
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.meta.outputs.tags }}
          cache-from: type=gha,scope=${{ matrix.arch }}
          cache-to: type=gha,mode=max,scope=${{ matrix.arch }}

  publish:
    needs: build
    runs-on: ubuntu-latest

    steps:
      - uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Create multi-arch manifest
        run: |
          IMAGE=${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}

          docker buildx imagetools create \
            -t $IMAGE:latest \
            $IMAGE:latest-amd64 \
            $IMAGE:latest-arm64